.barra{

    float: left;
     width: 310px; 
     height:70px ; 
     color: aliceblue;
     background-color:darkorchid;
     border: 2px solid black;
     
       
    
}


.text{
    padding-left: 4px;
    font-size: 25px;
     text-align: left;
}

*/{
    margin:auto 0;
    padding: 0;
}